{% extends 'base.html' %}

{% block page_class %}home-page{% endblock %}

{% block content %}
<a id="bgndVideo" href="http://www.youtube.com/watch?v=hLbGZCL8bTw"
  class="movie {opacity:.8, isBgndMovie:{width:'window',mute:false}, ratio:'4/3',quality:'default'}">
  Needs More Dog
  </a>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mb.YTPlayer.js"></script>
<script>
  $(function(){
    $(".movie").mb_YTPlayer();
  });
</script>
{% endblock %}